body{
    font-family: 'Lato', sans-serif;
    width: 1920px;
height: 4867px;
}
.header-container{
    display: flex;
    align-items: center;
    background-color: rgb(241, 219, 214);
    width: 1920px;
    height: 850px;
    gap: 50px;
    padding-top: 40px;
}
.header-content{
    padding-left: 100px;
}
.header-img{
    padding-right: 100px;
    width: 635px;
height: 800px;

}
.header-description{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
}
.header-btn{
    background-color:#E55473;
    color: white;
    width: 140px;
    height: 50px;
    border: none;
    border-radius: 5px;
    }
    .sell-content{
        display: flex;
        width: 1922px;
        height: 620px;
        align-items: center;
        padding: 80px
        
        
    }
    .sell-container{
        align-items: center;
        padding-left: 80px;
    }
    .sell-title{
        color: #272727;

font-size: 40px;

font-weight: 800;
    }
    .sell-description{
        text-align: center;

font-size: 18px;
font-weight: 400;
line-height: 30px;
    }
    .sell-btn{
       
padding: 20px 43px;
align-items: flex-start;
gap: 5px;
margin-left: 200px;
    }
    .insta-title{
        text-align: center;
    }
    .insta-description{
        color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
    }
    .img-container{
        display: flex;
        gap: 20px;
        
       
    }
    .deal-container{
        background-image: url('');
    }




















footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 50px 150px;
}